.heading {
  /* background-color: #fff9c4; */
  /* padding-left: 5px; */
}

.baseCurrency {
  padding: 9px;
  border: 1px solid var(--grey);
  border-radius: 4px;
  margin-left: 6px;
}

.primaryButton {
  border: 1px solid var(--grey) !important;
  background-color: var(--blue) !important;
  border-radius: 0 !important;
  color: #fff !important;
  width: 100%;
}

.primaryButton:hover {
}

.secondaryButton {
  border: 1px solid var(--grey) !important;
  background-color: var(--grey) !important;
  border-radius: 0 !important;
  color: #fff !important;
  width: 100%;
}

.error {
  background-color: var(--red);
  color: #fff;
  padding: 0 10px;
  display: inline-block;
}

.form {
  background-color: #fff;
  padding: 10px 10px 0;
  border: 1px solid var(--grey);
}

.radios {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 8px;
}

.radio {
  border: 1px solid;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  vertical-align: middle;
}

.radio > input {
  margin-bottom: 2px;
}

.buyLabel {
  color: var(--blue);
}

.sellLabel {
  color: var(--red);
  margin-left: 5px;
}

.formError {
  color: var(--red);
}

/* QUOTE */
.quoteContainer {
  background-color: #fff;
  padding: 10px 10px 0;
  border: 1px solid var(--grey);
}

.quoteDescription {
  margin-bottom: 6px;
}

.quoteList {
  margin-bottom: 0;
}

.quoteList dt,
dd {
  float: left;
}

.quoteList dd {
  float: right;
}

.quoteList dt {
  clear: both;
}

.tradeButton {
  margin-top: 10px;
}

/* TRADE */
.tradeContainer {
  padding: 10px 10px 0;
  border: 1px solid var(--grey);
}

.tradeDescription {
  margin-bottom: 6px;
}

.newRFQButton {
  margin-top: 10px;
}
